body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}

.table-title h2 {
    margin: 8px 0 0;
    font-size: 22px;
}

.search-box {
    position: relative;
    float: right;
}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}

.search-box input:focus {
    border-color: #3FBAE4;
}

.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

table.table td a.view {
    color: #03A9F4;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}
.card-status-success {
    border: 2px solid green;
}

.card-status-danger {
    border: 2px solid red;
}

.card-status-warning {
    border: 2px solid orange;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    list-style-type: none;
    margin: 0 5px;
}

.pagination   
 a {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #f2f2f2;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Form Registro */

.container{
    padding: 5px;
    background-color: white;
    border-radius: 5%;
    width: 600px;
    height: 700px;
    color: #333;
}

.form-control {
    border-radius: 5px; 
    box-shadow: none; 
  }
  
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

.message,.alert-succes{
    padding: 20px;
    background-color: #1f7e58;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.message,.alert-warning{
    padding: 20px;
    background-color: yellow;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.alert-danger {
    background-color: #ff9966; /* Cambia el color de fondo */
    border-color: #ff6633; /* Cambia el color del borde */
    border-radius: 10px; /* Añade bordes redondeados */
    padding: 15px;
}

/* Estilos personalizados para la barra de navegación */

.navbar {
    background-color: #333;
    color: #fff;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: #fff;
    &:hover {
      color: #007bff;
    }
  }
  
  .btn-outline-primary {
    --bs-btn-color: #ffffff; /* Color del texto del botón #0d6efd*/
    --bs-btn-border-color: #0d6efd; /* Color del borde del botón */
    --bs-btn-hover-bg: #ffffff; /* Color de fondo al pasar el cursor */
    --bs-btn-hover-border-color: #0d6efd; /* Color del borde al pasar el cursor */
    --bs-btn-focus-shadow-rgb: 49, 132, 253; /* Sombra al enfocar */
  }

  .btn-light {
    margin-left: 5px;
  --bs-btn-color: #000; /* Color del texto del botón */
  --bs-btn-bg: #fff; /* Color de fondo del botón */
  --bs-btn-border-color: #fff; /* Color del borde del botón */
  --bs-btn-hover-bg: #0d6efd; /* Color de fondo al pasar el cursor */
  --bs-btn-hover-border-color: #0d6efd; /* Color del borde al pasar el cursor */
}